.held-label 
{
    position: absolute;
    top: -2em;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    text-decoration:solid;
    z-index: 99;
    white-space: nowrap;
}

.room-info
{
    font-family: 'Press Start 2P';
    width: 100%;
    padding: 1em;
    border-radius: 2px;
    position: absolute;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: #ffffff;
    color: #ffffff;
    background: rgb(0, 0, 0);
    outline: none;
    transition: .4s;
    gap: 10%;
  
}


.main-layout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 4vw;
  padding: 20px;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  max-width: 100%;
}

.secondary-games{
  align-content: flex-start;
  left: -17%;
}

.secondary-games-right
{
  left: 20%;
  align-content: flex-start;
}

.secondary-games,
.secondary-games-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  top: 10%;
  width: 28%;
  position: relative;
  max-height: 80vh;
}

.secondary-game {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: rgba(70, 70, 70, 0.9);
  width: 8vw;
  height: 30vh;
  border: 4px solid #0d0e0d;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  margin: 0 auto;
  z-index: 2;
  text-align: center;
}


.game-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 10%;
  
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	column-gap: 10px;
	row-gap: 1em;
  }  


/* .cell2 {
  position: relative;
  z-index: 5;
  border: 0px solid #000000;
  box-shadow: inset 2px 2px 0 #4e4e4e57, inset -4px -4px 0 #44444459;
} */

.cell, .cell2 {
  position: relative;
  z-index: 5;
  border: 2px solid #000000;
  box-shadow: inset 4px 4px 0 #4e4e4e57, inset -4px -4px 0 #44444459;
}

.game-bottle {
  display: grid;
  z-index: 4;
  position: relative;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background: rgba(70, 70, 70, 0.964);
  width: 400px;
  height: 700px;
  border-left: 20px solid #0d0e0d;
  border-right: 20px solid #0d0e0d;
  border-bottom: 20px solid #0d0e0d;
  border-top: none;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.719);
  text-align: center;
}

.main-layout {
	position: absolute;
	display: flex;
	justify-content: center;
  width: 100%;
  height: 80%;
}


.held-piece {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  position: relative;
  width: 150px;
  height: 150px;
  background: rgba(70, 70, 70, 0.964);
  border: 10px solid #0d0e0d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.719);
  z-index: 4;
}

.next-piece {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(10, 1fr);
  position: relative;
  width: 190px;
  height: 300px;
  background: rgba(70, 70, 70, 0.964);
  border: 10px solid #0d0e0d;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.719);
  z-index: 4;
}
.score {
  color: #ffffff;
  display: flex;
  top: -1.5em;
  padding: 5px;
  position: relative;
  justify-content: center;
  
}

.scoreCard{

  background: rgba(12, 12, 12, 0.964);
	width: 8vw;
  height: 25vh;
	box-shadow: 10px 10px 10px rgba(66, 66, 66, 0.719);
	display: flex;
	flex-direction: column;
	padding: 50px;
	gap: 10px;
	text-align: center;
	z-index: 7;
  position: relative;
	border-radius: 10px;
	border-width: 10px; 
	border-color: #000000;

}


.countdown
{
	font-family: 'Press Start 2P';
	font-weight: bold;
	font-size: 60px;
	position: absolute;
	text-align: center;
	top: 30vh;
	left: 50vw;
	color: #ffffff;
	text-shadow: 5px 5px  #000000;
	z-index: 5;
}

.game-Over
{
  z-index: 99;
	font-family: 'Press Start 2P';
	font-weight: bold;
	font-size: 60px;
	position: absolute;
	text-align: center;
  font-size: 20px;
  width: 30vw;
	top: 30vh;
	left: 35vw;
	color: #ffffff;
	text-shadow: 5px 5px  #000000;
}

.game-over-image2
{
	position: relative;
	left: 5vw;
	bottom : 13vw
}
  

.game-over-image
{
	position: relative;
	left: 5vw;
	top : 5vw;
}